<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Petco - Pet Protection & Adoption</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">

        <!-- CSS here -->
        <link rel="stylesheet" th:href="@{/fore/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/fore/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/nice-select.css}">
        <link rel="stylesheet" th:href="@{/fore/css/flaticon.css}">
        <link rel="stylesheet" th:href="@{/fore/css/odometer.css}">
        <link rel="stylesheet" th:href="@{/fore/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{/fore/css/slick.css}">
        <link rel="stylesheet" th:href="@{/fore/css/default.css}">
        <link rel="stylesheet" th:href="@{/fore/css/style.css}">
        <link rel="stylesheet" th:href="@{/fore/css/responsive.css}">
        <link rel="stylesheet" th:href="@{/fore/css/alert.css}">

    </head>
    <body>

        <!-- Preloader -->
        <div th:replace="~{../templates/forestage/commons::commonPreloader}"></div>
        <!-- Preloader-end -->

        <!-- Scroll-top -->
        <button th:replace="~{../templates/forestage/commons::commonScrollTop}"></button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header th:replace="~{../templates/forestage/commons::commonHeader('adoption')}"></header>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" th:data-background="@{/fore/img/bg/breadcrumb_bg.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">可领养的动物</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Adoption List</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- adoption-area -->
            <section class="adoption-shop-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-65">
                                <div class="section-icon"><img th:src="@{/fore/img/icon/pawprint.png}" alt=""></div>
                                <h5 class="sub-title">Meet the animals</h5>
                                <h2 class="title">等待收养的小伙伴</h2>
                                <p>它们正在等待你的到来。</p>
                            </div>
                        </div>
                    </div>
<!--                    切换类型控件-->
                    <div class="row justify-content-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                选择种类
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg-right">
                                <input type="text" id="type_val" hidden value="all">
                                <button class="dropdown-item" type="button" id="type_all">全部</button>
                                <button class="dropdown-item" type="button" id="type_cat">猫</button>
                                <button class="dropdown-item" type="button" id="type_dog">狗</button>
                                <button class="dropdown-item" type="button" id="type_rabbit">兔</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row justify-content-center" id="pets_list" >

                    </div>
                </div>
            </section>
            <!-- adoption-area-end -->


            <!-- newsletter-area -->
            <div th:replace="~{../templates/forestage/commons::newsletter}"></div>
            <!-- newsletter-area-end -->

        </main>
        <!-- main-area-end -->


        <!-- footer-start -->
        <footer th:replace="~{../templates/forestage/commons::commonFooter}"></footer>
        <!-- footer-end -->





        <!-- JS here -->
        <script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/fore/js/bootstrap.min.js}"></script>
        <script th:src="@{/fore/js/isotope.pkgd.min.js}"></script>
        <script th:src="@{/fore/js/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{/fore/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/fore/js/owl.carousel.min.js}"></script>
        <script th:src="@{/fore/js/jquery.odometer.min.js}"></script>
        <script th:src="@{/fore/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/fore/js/jquery-ui.min.js}"></script>
        <script th:src="@{/fore/js/jquery.appear.js}"></script>
        <script th:src="@{/fore/js/slick.min.js}"></script>
        <script th:src="@{/fore/js/wow.min.js}"></script>
        <script th:src="@{/fore/js/plugins.js}"></script>
        <script th:src="@{/fore/js/main.js}"></script>

    <script>
        //提示框
        function prompt(message, style, time) {
            style = (style === undefined) ? 'alert-success' : style;
            time = (time === undefined) ? 1500 : time;
            $('<div></div>')
                .appendTo('body')
                .addClass('alert ' + style)
                .html(message)
                .show()
                .delay(time)
                .fadeOut();
        }

        $('#type_all').click(function(){
            pages = 1;
            page = 1;
            $("#pets_list").empty();
            $('#type_val').val('all');
            lod()
        });
        $('#type_cat').click(function(){
            pages = 1;
            page = 1;
            $("#pets_list").empty();
            $('#type_val').val('猫');
            lod()
        });
        $('#type_dog').click(function(){
            pages = 1;
            page = 1;
            $("#pets_list").empty();
            $('#type_val').val('狗');
            lod()
        });
        $('#type_rabbit').click(function(){
            pages = 1;
            page = 1;
            $("#pets_list").empty();
            $('#type_val').val('兔');
            lod()
        });





        let pages = 1;
        let page = 1;
        let isloding = false;

        $(document).on('scroll', function () {
            const list_height = $("#pets_list").height();
            const list_scroll_height = $(document).scrollTop()
            const win_height = $(window).height();
            if (list_scroll_height + win_height >= list_height && isloding === false) {
                console.log("到底啦！")
                isloding = true
                lod()
            }
        })
        function lod() {
            const url = '/adoption/list_page';
            const data = {
                sort:'id',
                order:'asc',
                pageNumber:page,
                pageSize:9,
                type: $('#type_val').val()
            }
            if (page > pages) {
                return
            }
            $.ajax({
                type: "get",
                url: url,
                dataType: 'json',
                data: data,
                success: function(res){
                    if(res.code === 200){
                        pages = res.result.pages
                        page = res.result.nextPageNum;
                        const animalList = res.result.animalList;
                        console.log(res.result)
                        $.each(animalList, function(index, value) {
                            const animal = animalList[index];
                            console.log(animal)
                            const html = `
                                <div class="col-lg-4 col-md-6">
                                    <div class="adoption-shop-item">
                                        <div class="adoption-shop-thumb">
                                            <img src="${animal.pics}" alt="" >
                                                <a href="/adoption/apply/${animal.id}" class="btn">领养 <img src="/fore/img/icon/w_pawprint.png" alt=""></a>
                                        </div>
                                        <div class="adoption-shop-content">
                                            <h4 class="title"><a href="/adoption/detail/${animal.id}">${animal.name}</a></h4>
                                            <div class="adoption-meta">
                                                <ul>
                                                    <li><i class="fas fa-cog"></i><span>${animal.type}</span></li>
                                                    <li><i class="far fa-calendar-alt"></i> Birth : <span>${animal.birth}</span></li>
                                                </ul>
                                            </div>
                                            <div class="adoption-rating">
                                                <ul>
                                                    <li class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                    <li class="price">年龄 : <span>${animal.age}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `
                            $("#pets_list").append(html)
                        });
                    }else{
                        prompt(res.msg, 'alert-warning', 1500);
                    }
                    isloding = false
                },
                error: function(err){
                    console.log(err);
                }

            });

        }
    </script>
    </body>
</html>
