<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Petco - Pet Protection & Adoption</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/animate.min.css">
        <link rel="stylesheet" href="../css/magnific-popup.css">
        <link rel="stylesheet" href="../css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../css/owl.carousel.min.css">
        <link rel="stylesheet" href="../css/nice-select.css">
        <link rel="stylesheet" href="../css/flaticon.css">
        <link rel="stylesheet" href="../css/odometer.css">
        <link rel="stylesheet" href="../css/jquery-ui.css">
        <link rel="stylesheet" href="../css/slick.css">
        <link rel="stylesheet" href="../css/default.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>

        <!-- Preloader -->
        <div th:replace="~{../templates/forestage/commons::commonPreloader}"></div>
        <!-- Preloader-end -->

        <!-- Scroll-top -->
        <button th:replace="~{../templates/forestage/commons::commonScrollTop}"></button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header th:replace="~{../templates/forestage/commons::commonHeader('adoption')}"></header>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="../img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">可领养的动物</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Adoption List</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- adoption-area -->
            <section class="adoption-shop-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-65">
                                <div class="section-icon"><img src="../img/icon/pawprint.png" alt=""></div>
                                <h5 class="sub-title">Meet the animals</h5>
                                <h2 class="title">等待收养的小伙伴</h2>
                                <p>它们正在等待你的到来。</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="adoption-shop-item">
                                <div class="adoption-shop-thumb">
                                    <img src="../img/product/adoption_shop_thumb01.jpg" alt="">
                                    <a href="../other/shop-details.html" class="btn">领养 <img src="../img/icon/w_pawprint.png" alt=""></a>
                                </div>
                                <div class="adoption-shop-content">
                                    <h4 class="title"><a href="/shop-details">MT</a></h4>
                                    <div class="adoption-meta">
                                        <ul>
                                            <li><i class="fas fa-cog"></i><a href="#">西伯利亚雪橇犬</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Birth : 2021</li>
                                        </ul>
                                    </div>
                                    <div class="adoption-rating">
                                        <ul>
                                            <li class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li class="price">手续费 : <span>￥100</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="adoption-shop-item">
                                <div class="adoption-shop-thumb">
                                    <img src="../img/product/adoption_shop_thumb02.jpg" alt="">
                                    <a href="/shop-details" class="btn">领养 <img src="../img/icon/w_pawprint.png" alt=""></a>
                                </div>
                                <div class="adoption-shop-content">
                                    <h4 class="title"><a href="/shop-details">Charlie</a></h4>
                                    <div class="adoption-meta">
                                        <ul>
                                            <li><i class="fas fa-cog"></i><a href="#">金猎犬</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Birth : 2020</li>
                                        </ul>
                                    </div>
                                    <div class="adoption-rating">
                                        <ul>
                                            <li class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li class="price">手续费 : <span>￥100</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="adoption-shop-item">
                                <div class="adoption-shop-thumb">
                                    <img src="../img/product/adoption_shop_thumb03.jpg" alt="">
                                    <a href="/shop-details" class="btn">领养 <img src="../img/icon/w_pawprint.png" alt=""></a>
                                </div>
                                <div class="adoption-shop-content">
                                    <h4 class="title"><a href="/shop-details">Alessia Max</a></h4>
                                    <div class="adoption-meta">
                                        <ul>
                                            <li><i class="fas fa-cog"></i><a href="#">德国牧羊犬</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Birth : 2020</li>
                                        </ul>
                                    </div>
                                    <div class="adoption-rating">
                                        <ul>
                                            <li class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li class="price">手续费 : <span>￥100</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="adoption-shop-item">
                                <div class="adoption-shop-thumb">
                                    <img src="../img/product/adoption_shop_thumb04.jpg" alt="">
                                    <a href="/shop-details" class="btn">领养 <img src="../img/icon/w_pawprint.png" alt=""></a>
                                </div>
                                <div class="adoption-shop-content">
                                    <h4 class="title"><a href="/shop-details">Canadian</a></h4>
                                    <div class="adoption-meta">
                                        <ul>
                                            <li><i class="fas fa-cog"></i><a href="#">德国牧羊犬</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Birth : 2021</li>
                                        </ul>
                                    </div>
                                    <div class="adoption-rating">
                                        <ul>
                                            <li class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li class="price">手续费 : <span>￥100</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="adoption-shop-item">
                                <div class="adoption-shop-thumb">
                                    <img src="../img/product/adoption_shop_thumb05.jpg" alt="">
                                    <a href="/shop-details" class="btn">领养 <img src="../img/icon/w_pawprint.png" alt=""></a>
                                </div>
                                <div class="adoption-shop-content">
                                    <h4 class="title"><a href="/shop-details">Entertainment</a></h4>
                                    <div class="adoption-meta">
                                        <ul>
                                            <li><i class="fas fa-cog"></i><a href="#">西伯利亚雪橇犬</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Birth : 2021</li>
                                        </ul>
                                    </div>
                                    <div class="adoption-rating">
                                        <ul>
                                            <li class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li class="price">手续费 : <span>￥100</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="adoption-shop-item">
                                <div class="adoption-shop-thumb">
                                    <img src="../img/product/adoption_shop_thumb06.jpg" alt="">
                                    <a href="/shop-details" class="btn">领养 <img src="../img/icon/w_pawprint.png" alt=""></a>
                                </div>
                                <div class="adoption-shop-content">
                                    <h4 class="title"><a href="/shop-details">Dangerous</a></h4>
                                    <div class="adoption-meta">
                                        <ul>
                                            <li><i class="fas fa-cog"></i><a href="#">金猎犬</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Birth : 2021</li>
                                        </ul>
                                    </div>
                                    <div class="adoption-rating">
                                        <ul>
                                            <li class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li class="price">手续费: <span>Free</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- adoption-area-end -->


            <!-- newsletter-area -->
            <div th:replace="~{../templates/forestage/commons::newsletter}"></div>
            <!-- newsletter-area-end -->

        </main>
        <!-- main-area-end -->


        <!-- footer-start -->
        <footer th:replace="~{../templates/forestage/commons::commonFooter}"></footer>
        <!-- footer-end -->





        <!-- JS here -->
        <script src="../js/vendor/jquery-3.6.0.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/isotope.pkgd.min.js"></script>
        <script src="../js/imagesloaded.pkgd.min.js"></script>
        <script src="../js/jquery.magnific-popup.min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/jquery.odometer.min.js"></script>
        <script src="../js/jquery.nice-select.min.js"></script>
        <script src="../js/jquery-ui.min.js"></script>
        <script src="../js/jquery.appear.js"></script>
        <script src="../js/slick.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
