<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petco - 宠物领养</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/fore/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/fore/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/fore/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/fore/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/fore/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/fore/css/slick.css}">
    <link rel="stylesheet" th:href="@{/fore/css/default.css}">
    <link rel="stylesheet" th:href="@{/fore/css/style.css}">
    <link rel="stylesheet" th:href="@{/fore/css/responsive.css}">
    <style>

        .title {
            text-align: right;
        }
        .title > span{
            font-size: smaller;
        }
        .val{
            text-align: left;
        }
        .contact-title {
            margin-top: 15px;
        }
    </style>
</head>
<body>


<!-- Preloader -->
<div th:replace="~{../templates/forestage/commons::commonPreloader}"></div>
<!-- Preloader-end -->

<!-- Scroll-top -->
<button th:replace="~{../templates/forestage/commons::commonScrollTop}"></button>
<!-- Scroll-top-end-->

<!-- header-area -->
<header th:replace="~{../templates/forestage/commons::commonHeader('adoption')}"></header>
<!-- header-area-end -->

<section class="contact-area pt-110 pb-110">
    <div class="container">
        <div class="container-inner-wrap">
            <div class="row justify-content-center justify-content-lg-between">
                <div class="col-lg-7 col-md-6 order-2 order-lg-0">
                    <div class="contact-title mb-20">
                        <h5 class="sub-title">宠物详情</h5>
                    </div>
                    <div class="contact-wrap-content">
                        <div class="contact-title row" >
                            <h2 class="title col-sm-3 "><span>名字</span></h2>
                            <h2 class="title val col-sm-9" id="name" name="name" th:text="${animal.name}"></h2>
                        </div>
                        <div class="row contact-title" >
                            <h2 class="title col-sm-3 "><span>性别</span></h2>
                            <h2 class="title val col-sm-9" id="sex" name="sex" th:text="${animal.sex}"></h2>
                        </div>
                        <div class="row contact-title" >
                            <h2 class="title col-sm-3 "><span>种别</span></h2>
                            <h2 class="title val col-sm-9" id="type" name="type" th:text="${animal.type}"></h2>
                        </div>
                        <div class="row contact-title" >
                            <h2 class="title col-sm-3 "><span>生日</span></h2>
                            <h2 class="title val col-sm-9" id="birth" name="birth" th:text="${animal.birth}"></h2>
                        </div>
                        <div class="row contact-title" >
                            <h2 class="title col-sm-3 "><span>年龄</span></h2>
                            <h2 class="title val col-sm-9" id="age" name="age" th:text="${animal.age}"></h2>
                        </div>
                        <div class="row contact-title">
                            <h2 class="title col-sm-3 "><span>描述</span></h2>
                            <p class=" val col-sm-9" id="detail" name="detail" th:text="${animal.detail}"></p>
                        </div>
                        <div class="row contact-title" >
                            <h2 class="title col-sm-3 "><span>图片</span></h2>
                            <img class="col-sm-8" id="pic" alt="pic" th:src="${animal.pics}"/>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6" style="text-align: right">
                    <div>
                        <button type="button" class="btn-back" onclick="window.history.back()">返回</button>
                    </div>
                    <br>
                    <br>
                    <div>
                        <button type="button" class="btn btn-warning"  onclick="apply()">领养</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer-start -->
<footer th:replace="~{../templates/forestage/commons::commonFooter}"></footer>
<!-- footer-end -->



</body>



<!-- JS here -->
<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/fore/js/bootstrap.min.js}"></script>
<script th:src="@{/fore/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/fore/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/fore/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/fore/js/owl.carousel.min.js}"></script>
<script th:src="@{/fore/js/jquery.odometer.min.js}"></script>
<script th:src="@{/fore/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/fore/js/jquery-ui.min.js}"></script>
<script th:src="@{/fore/js/jquery.appear.js}"></script>
<script th:src="@{/fore/js/slick.min.js}"></script>
<script th:src="@{/fore/js/wow.min.js}"></script>
<script th:src="@{/fore/js/plugins.js}"></script>
<script th:src="@{/fore/js/main.js}"></script>


<script>

    //提示框
    function prompt(message, style, time) {
        style = (style === undefined) ? 'alert-success' : style;
        time = (time === undefined) ? 1500 : time;
        $('<div></div>')
            .appendTo('body')
            .addClass('alert ' + style)
            .html(message)
            .show()
            .delay(time)
            .fadeOut();
    }

    //领养
    function apply() {
        window.location.href = '/adoption/apply/'+'[[${animal.id}]]';
    }

</script>
</html>