<!DOCTYPE html>
<html class="x-admin-sm" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel='stylesheet' th:href='@{/fore/css/bootstrap-4.1.min.css}'>
    <!--Editor.md-->
    <link rel="stylesheet" th:href="@{/back/editormd/css/editormd.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>

<body>

<div class="container-fluid">
    <form name="mdEditorForm">
        <div class="form-group">
            <label for="title"><b>标题</b></label>
            <input type="text" class="form-control"  name="title" id="title">
        </div>
        <div class="form-row">
            <div class="col">
                <label for="author"><b>作者</b></label>
                <input type="text" class="form-control"  name="author" id="author" aria-describedby="Help">
            </div>
            <div class="col">
                <label for="type"><b>类型</b></label>
                <select name="type" id="type" class="form-control ">
                    <option value="0">新闻</option>
                    <option value="1">活动</option>
                    <option value="3">文章</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="content"></label>
            <div id="article-content">
                <textarea name="content" id="content" style="display:none;"></textarea>
            </div>
        </div>
    </form>
</div>
</body>

<!--editormd-->

<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/fore/js/bootstrap.min.js}"></script>
<script th:src="@{/back/editormd/editormd.js}"></script>

<script type="text/javascript">
    var testEditor;

    //window.onload = function(){ }
    $(function() {
        testEditor = editormd("article-content", {
            width : "95%",	//宽
            height : 600,	//高
            syncScrolling : "single",
            path : "../back/editormd/lib/",	//加载编辑器lib路径
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            emoji: true,		//功能开启表情
            theme: "light",//工具栏主题
            previewTheme: "light",//预览主题
            editorTheme: "pastel-on-light",//编辑主题
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            //图片上传
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/article/file/upload",
            onload : function() {
                console.log('onload', this);
            },
            /*指定需要显示的功能按钮*/
            toolbarIcons : function() {
                return ["undo","redo","|",
                    "bold","del","italic","quote","ucwords","uppercase","lowercase","|",
                    "h1","h2","h3","h4","h5","h6","|",
                    "list-ul","list-ol","hr","|",
                    "link","reference-link","image","code","preformatted-text",
                    "code-block","table","datetime","emoji","html-entities","pagebreak","|",
                    "goto-line","watch","preview","fullscreen","clear","help", "|",
                    "releaseIcon", "back"]
            },

            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/
            toolbarIconTexts : {
                releaseIcon : "<span bgcolor=\"gray\">发布</span>",
                back : "<span bgcolor=\"red\">返回</span>",
            },

            /*给自定义按钮指定回调函数*/
            toolbarHandlers:{
                releaseIcon : function(cm, icon, cursor, selection) {
                    //表单提交
                    mdEditorForm.method = "post";
                    mdEditorForm.action = "/article/addArticle";//提交至服务器的路径
                    mdEditorForm.submit();
                },
                back : function(){
                    window.location.href = "/admin/article/news-list";
                },
            }
        });
    });
</script>

</html>