<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宠物详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
    <link rel='stylesheet' th:href='@{/fore/css/bootstrap-4.1.min.css}'>
    <link rel="stylesheet" th:href="@{/fore/css/alert.css}">
    <style>
        p{
            text-align: left;
        }
    </style>
</head>
<body>
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-warning" onclick="window.history.back()">返回</button>
            <h3></h3>
            <div class="container">
                <div class="row" >
                    <span class="col-sm-2">ID</span>
                    <p class="col-sm-8" id="id" name="id" ></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">名字</span>
                    <p class="col-sm-8" id="name" name="name" ></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">性别</span>
                    <p class="col-sm-8" id="sex" name="sex" ></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">种别</span>
                    <p class="col-sm-8" id="type" name="type" ></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">生日</span>
                    <p class="col-sm-8" id="birth" name="birth" ></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">年龄</span>
                    <p class="col-sm-8" id="age" name="age" ></p>
                </div>
                <div class="row">
                    <span class="col-sm-2">描述</span>
                    <p  class="col-sm-8" id="detail" name="detail"></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">状态</span>
                    <p class="col-sm-8" id="status" name="status" ></p>
                </div>
                <div class="row" >
                    <span class="col-sm-2">图片</span>
                    <img class="col-sm-8" id="pic" alt="pic" th:src="${animal.pics}"/>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<!-- jquery -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- bootstrap脚本 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>

    //提示框
    function prompt(message, style, time) {
        style = (style === undefined) ? 'alert-success' : style;
        time = (time === undefined) ? 1500 : time;
        $('<div></div>')
            .appendTo('body')
            .addClass('alert ' + style)
            .html(message)
            .show()
            .delay(time)
            .fadeOut();
    }

    $(document).ready(function() {
        const msg = '[[${msg}]]';
        if (msg !== "") {
            const flag = '[[${msg_flag}]]';
            if (flag === "ok") {
                prompt(msg, 'alert-success');
            } else {
                prompt(msg, 'alert-danger');
            }
        }

        const animal = '[[${animal}]]';
        const id = '[[${animal.id}]]';
        const name = '[[${animal.name}]]';
        const birth = '[[${animal.birth}]]';
        const age = '[[${animal.age}]]';
        const detail = '[[${animal.detail}]]';
        const sex = '[[${animal.sex}]]';
        const type = '[[${animal.type}]]';
        let status = '[[${animal.status}]]';
        if (animal !== "") {
            console.log(animal);

            $('#id').text(id);
            $('#name').text(name);
            $('#birth').text(birth);
            $('#age').text(age);
            $('#detail').text(detail);
            $('#sex').text(sex);
            $('#type').text(type);
            if (status === '-1') {
                status = '暂停领养';
            } else if (status === '0') {
                status = '待领养';
            } else if (status === '1') {
                status = '已领养';
            } else  {
                status = '领养审批中';
            }
            $('#status').text(status);

        }
    });


</script>
</html>