<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update宠物</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
    <link rel='stylesheet' th:href='@{/fore/css/bootstrap-4.1.min.css}'>
    <link rel="stylesheet" th:href="@{/fore/css/alert.css}">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-warning" onclick="window.location.href='/admin/pet/list'">返回</button>
            <h3></h3>
            <form th:action="@{/admin/pet/edit}" method="post">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input class="form-control" type="text" id="id" name="id" required hidden>
                </div>
                <div class="form-group">
                    <label for="name">名字</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="sex">性别</label>
<!--                    <input class="form-control" type="text" id="sex" name="sex" required>-->
                    <select name="sex" id="sex"  class="form-control dropdown-toggle">
                        <option value="公">公</option>
                        <option value="母">母</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">种别</label>
<!--                    <input class="form-control" type="text" id="type" name="type" required>-->
                    <select name="type" id="type"  class="form-control dropdown-toggle">
                        <option value="猫">猫</option>
                        <option value="狗">狗</option>
                        <option value="兔">兔</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="birth">生日</label>
                    <div class='input-group date' id='datetimepicker'>
                        <input class="form-control" type="text" id="birth" name="birth" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="detail">描述</label>
                    <textarea  class="form-control" type="text" id="detail" name="detail"></textarea>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label">状态</label>
                    <select name="status" id="status"  class="form-control dropdown-toggle">
                        <option value="-1">下架</option>
                        <option value="0">待领养</option>
                        <option value="1">已领养</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>

<!-- jquery -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- bootstrap脚本 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- 时间选择器前置脚本 -->
<script src="https://cdn.bootcss.com/moment.js/2.22.1/moment-with-locales.min.js"></script>

<!-- 时间选择器核心脚本 -->
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $("#birth").datetimepicker();


    //提示框
    function prompt(message, style, time) {
        style = (style === undefined) ? 'alert-success' : style;
        time = (time === undefined) ? 1500 : time;
        $('<div></div>')
            .appendTo('body')
            .addClass('alert ' + style)
            .html(message)
            .show()
            .delay(time)
            .fadeOut();
    }

    $(document).ready(function() {
        const msg = '[[${msg}]]';
        if (msg !== "") {
            const flag = '[[${msg_flag}]]';
            if (flag === "ok") {
                prompt(msg, 'alert-success');
            } else {
                prompt(msg, 'alert-danger');
            }
        }

        const animal = '[[${animal}]]';
        const id = '[[${animal.id}]]';
        const name = '[[${animal.name}]]';
        const birth = '[[${animal.birth}]]';
        const detail = '[[${animal.detail}]]';
        const sex = '[[${animal.sex}]]';
        const type = '[[${animal.type}]]';
        const status = '[[${animal.status}]]';
        if (animal !== "") {
            console.log(animal);

            $('#id').val(id);
            $('#name').val(name);
            $('#birth').val(birth);
            $('#detail').val(detail);
            if (sex === '公'){
                document.getElementById('sex')[0].selected = true;
            } else {
                document.getElementById('sex')[1].selected = true;
            }
            if (type === '猫') {
                document.getElementById('type')[0].selected = true;
            } else if (type === '狗') {
                document.getElementById('type')[1].selected = true;
            } else {
                document.getElementById('type')[2].selected = true;
            }

            if (status === '-1') {
                document.getElementById('status')[0].selected = true;
            } else if (status === '0') {
                document.getElementById('status')[1].selected = true;
            } else {
                document.getElementById('status')[2].selected = true;
            }
        }
    });


</script>
</html>