<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宠物详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
    <link rel='stylesheet' th:href='@{/fore/css/bootstrap-4.1.min.css}'>
    <link rel="stylesheet" th:href="@{/fore/css/alert.css}">

    <style>
        label{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            宠物详情
            <button type="button" class="btn btn-info" style="float: right; margin-right: 30px"
                    onclick="back()">返回
            </button>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="form-grp">
                    <label for="id">ID：</label>
                    <span type="text" id="id"></span>
                </div>
                <div class="form-grp">
                    <label for="name">名字：</label>
                    <span type="text" id="name"></span>
                </div>
                <div class="form-grp">
                    <label for="sex">性别：</label>
                    <span type="text" id="sex"></span>
                </div>
                <div class="form-grp">
                    <label for="type">种别：</label>
                    <span type="text" id="type"></span>
                </div>
                <div class="form-grp">
                    <label for="birth">生日：</label>
                    <span type="text" id="birth"></span>
                </div>
                <div class="form-grp">
                    <label for="age">年龄：</label>
                    <span type="text" id="age"></span>
                </div>
                <div class="form-grp">
                    <label for="detail">描述：</label>
                    <span type="text" id="detail"></span>
                </div>
                <div class="form-grp">
                    <label for="status">状态：</label>
                    <span type="text" id="status"></span>
                </div>
                <div class="form-grp">
                    <label for="pic">图片：</label>
                    <img id="pic" alt="pic" width="40%" th:src="${animal.pics}"/>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/fore/js/bootstrap.min.js}"></script>



<script>

    function back() {
        window.history.back();
    }

    //提示框
    function prompt(message, style, time) {
        style = (style === undefined) ? 'alert-success' : style;
        time = (time === undefined) ? 1500 : time;
        $('<div></div>')
            .appendTo('body')
            .addClass('alert ' + style)
            .html(message)
            .show()
            .delay(time)
            .fadeOut();
    }

    $(document).ready(function() {
        const msg = '[[${msg}]]';
        if (msg !== "") {
            const flag = '[[${msg_flag}]]';
            if (flag === "ok") {
                prompt(msg, 'alert-success');
            } else {
                prompt(msg, 'alert-danger');
            }
        }

        const animal = '[[${animal}]]';
        const id = '[[${animal.id}]]';
        const name = '[[${animal.name}]]';
        const birth = '[[${animal.birth}]]';
        const age = '[[${animal.age}]]';
        const detail = '[[${animal.detail}]]';
        const sex = '[[${animal.sex}]]';
        const type = '[[${animal.type}]]';
        let status = '[[${animal.status}]]';
        if (animal !== "") {
            console.log(animal);

            $('#id').text(id);
            $('#name').text(name);
            $('#birth').text(birth);
            $('#age').text(age);
            $('#detail').text(detail);
            $('#sex').text(sex);
            $('#type').text(type);
            if (status === '-1') {
                status = '暂停领养';
            } else if (status === '0') {
                status = '待领养';
            } else if (status === '1') {
                status = '已领养';
            } else  {
                status = '领养审批中';
            }
            $('#status').text(status);

        }
    });


</script>
</html>