<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>BootStrap Table使用</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/fore/css/bootstrap.min.css}">
    <style>
        input[type="checkbox"] {
            outline: 0;
            font-size: 0;
            background-color: #FFFFFF;
            border-radius: 3px;
            width: 15px;
            height: 15px;
            position: relative;
            vertical-align: 0;
            top: 2px;
        }

        .first-list {
            margin-bottom: 10px;
        }

        .second-list {
            margin-left: 30px;
        }
    </style>
</head>
<body>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                角色基本信息

				<button type="button" class="btn btn-success" style="float: right;"
						onclick="edit()">修改
				</button>
                <button type="button" class="btn btn-info" style="float: right; margin-right: 30px"
                        onclick="back()">返回
                </button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="id">id</label>
                    <input type="text" class="form-control" id="id" th:value="${role.id}" disabled>
                </div>
                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" class="form-control" id="description" th:value="${role.description}" disabled>
                </div>
                <div class="form-group">
                    <label for="role">role</label>
                    <input type="text" class="form-control" id="role" th:value="${role.role}" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					菜单列表
				</div>
				<div class="card-body">
					<div class="container">
						<div class="first-list" th:each="menu,menuStat : ${menuList}">
							<label>
								<input class="first-title" type="checkbox" th:value="${menu.id}" th:text="${menu.name}">
							</label>
							<div class="second-list" th:each="second_menu,second_menuStat : ${menu.childMenu}">
								<label>
									<input class="second-title" type="checkbox" th:value="${second_menu.id}"
										   th:text="${second_menu.name}">
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					权限列表
				</div>
				<div class="card-body">
					<div class="container">
						<div class="first-list" th:each="permission,permissionStat : ${permissionList}">
							<label>
								<input class="first-title" type="checkbox" th:value="${permission.id}"
									   th:text="${permission.name}">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


</body>

<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/fore/js/bootstrap.min.js}"></script>

<script>

    function back() {
        window.history.back();
    }

    function edit() {
        window.location.href = "/admin/role/modify/" + $("#id").val();
    }

    $('input[type="checkbox"]').off('change').on('change', function () {
        const $this = $(this);
        searchUp($this);
        //如果父级菜单当前是选中状态，则子级菜单也默认选中
        if ($this.is(':checked')) {
            $this.parent().siblings().find('input[type="checkbox"]').prop('checked', true);
        }
        //如果父级菜单当前是未选中状态，则子级菜单也默认未选中
        if (!$this.is(':checked')) {
            $this.parent().siblings().find('input[type="checkbox"]').prop('checked', false);
        }
    });

    //往上查找
    function searchUp($this) {
        const cls = $this.attr('class'),
            $par = $this.parent().parent().parent(),
            first = '.first-title',
            second = '.second-title';
        if (cls === 'second-title') {
            checkUp($par, second, first);
        }
    }

    //选择上层元素
    function checkUp($par, lower, superior) {
        const length = $par.find(lower + ':checked').length;
        //如果选中任意一个，则选中上层
        if (length > 0) {
            $par.find(superior).prop('checked', true);
        } else {
            //如果没有选中，则取消上层
            $par.find(superior).prop('checked', false);
        }
    }
</script>

</html>