<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Staff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
    <link rel='stylesheet' th:href='@{/fore/css/bootstrap-4.1.min.css}'>
    <link rel="stylesheet" th:href="@{/fore/css/alert.css}">
</head>
<body>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                基本信息
                <button type="button" class="btn btn-info" style="float: right" onclick="back()">返回</button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <p class="form-control" type="text" id="id" name="id" th:text="${admin.id}">
                </div>
                <div class="form-group">
                    <label for="username">用户名</label>
                    <p class="form-control" type="text" id="username" name="username" th:text="${admin.username}">
                </div>
                <div class="form-group">
                    <label for="name">姓名</label>
                    <p class="form-control" type="text" id="name" name="name" th:text="${admin.name}">
                </div>
                <div class="form-group">
                    <label for="sex">性别</label>
                    <p class="form-control" type="text" id="sex" name="sex" th:text="${admin.sex}">
                </div>
                <div class="form-group">
                    <label for="tel">电话</label>
                    <p  class="form-control" type="number"  id="tel" name="tel" th:text="${admin.tel}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <p  class="form-control" type="email" id="email" name="email" th:text="${admin.email}">
                </div>
                <div class="form-group">
                    <label for="address">地址</label>
                    <p  class="form-control" type="text" id="address" name="address" th:text="${admin.address}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                角色
            </div>
            <div class="card-body" th:each="role,roleStat: ${roleList}">
                <a class="card-text" th:href="'/admin/role/detail/'+${role.id}" th:text="${role.description}"></a>
            </div>
        </div>
    </div>
</div>

</body>

<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/fore/js/bootstrap.min.js}"></script>
<script>
    function back() {
        window.history.back();
    }

</script>
</html>