<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Petco - Pet Protection & Adoption</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" th:href="@{/fore/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/fore/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/fore/css/nice-select.css}">
        <link rel="stylesheet" th:href="@{/fore/css/flaticon.css}">
        <link rel="stylesheet" th:href="@{/fore/css/odometer.css}">
        <link rel="stylesheet" th:href="@{/fore/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{/fore/css/slick.css}">
        <link rel="stylesheet" th:href="@{/fore/css/default.css}">
        <link rel="stylesheet" th:href="@{/fore/css/style.css}">
        <link rel="stylesheet" th:href="@{/fore/css/responsive.css}">
        <link rel="stylesheet" th:href="@{/fore/css/alert.css}">

    </head>
    <body>

        <!-- Preloader -->
        <div th:replace="~{../templates/forestage/commons::commonPreloader}"></div>
        <!-- Preloader-end -->

		<!-- Scroll-top -->
        <button th:replace="~{../templates/forestage/commons::commonScrollTop}"></button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header th:replace="~{../templates/forestage/commons::commonHeader('about-us')}"></header>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" th:data-background="@{/fore/img/bg/breadcrumb_bg.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">联系我们</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-110 pb-110">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row justify-content-center justify-content-lg-between">
                            <div class="col-lg-6 col-md-8 order-2 order-lg-0">
                                <div class="contact-title mb-20">
                                    <h5 class="sub-title">联系我们</h5>
                                    <h2 class="title">Let's Talk Question<span>.</span></h2>
                                </div>
                                <div class="contact-wrap-content">
                                    <p>请告知我们您联系服务中心的理由，您的问题将会被发送至适合的团体。
                                        如果您的问题与下列目录无关， 请选择“一般性问题”作为您的理由。
                                    </p>
                                    <form action="#" id="contactForm" class="contact-form">
                                        <div class="form-grp">
                                            <label for="type">类别 <span>*</span></label>
                                            <select name="type" id="type"  class="form-control dropdown-toggle">
                                                <option value="5">一般性问题</option>
                                                <option value="6">领养问题</option>
                                                <option value="4">快乐领养故事</option>
                                                <option value="7">服务投诉</option>
                                            </select>
                                        </div>
                                        <div class="form-grp" id="title_div">
                                            <label for="title">标题 <span>*</span></label>
                                            <input type="text" id="title" name="title" required>
                                        </div>
                                        <div class="form-grp">
                                            <label for="content">信息 <span>*</span></label>
                                            <textarea name="content" required id="content" placeholder="Opinion..."></textarea>
                                        </div>
                                        <button type="button" id="sub" class="btn rounded-btn">提交</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 col-md-8">
                                <div class="contact-info-wrap">
                                    <div class="contact-img">
                                        <img th:src="@{/fore/img/images/contact_img.png}" alt="">
                                    </div>
                                    <div class="contact-info-list">
                                        <ul>
                                            <li>
                                                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                                <div class="content">
                                                    <p>W84 New Park Lan, New York, NY 4586 United States</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                                <div class="content">
                                                    <p>+1 (608) 561 8029</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fas fa-envelope-open"></i></div>
                                                <div class="content">
                                                    <p>info.com</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="contact-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- newsletter-area -->
            <div th:replace="~{../templates/forestage/commons::newsletter}"></div>
            <!-- newsletter-area-end -->

        </main>
        <!-- main-area-end -->


        <!-- footer-start -->
        <footer th:replace="~{../templates/forestage/commons::commonFooter}"></footer>
        <!-- footer-end -->





        <!-- JS here -->
        <script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/fore/js/bootstrap.min.js}"></script>
        <script th:src="@{/fore/js/isotope.pkgd.min.js}"></script>
        <script th:src="@{/fore/js/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{/fore/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/fore/js/owl.carousel.min.js}"></script>
        <script th:src="@{/fore/js/jquery.odometer.min.js}"></script>
        <script th:src="@{/fore/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/fore/js/jquery-ui.min.js}"></script>
        <script th:src="@{/fore/js/jquery.appear.js}"></script>
        <script th:src="@{/fore/js/slick.min.js}"></script>
        <script th:src="@{/fore/js/wow.min.js}"></script>
        <script th:src="@{/fore/js/plugins.js}"></script>
        <script th:src="@{/fore/js/main.js}"></script>

    <script>
        //提示框
        function prompt(message, style, time) {
            style = (style === undefined) ? 'alert-success' : style;
            time = (time === undefined) ? 1500 : time;
            $('<div></div>')
                .appendTo('body')
                .addClass('alert ' + style)
                .html(message)
                .show()
                .delay(time)
                .fadeOut();
        }
        //submit form
        $('#sub').click(function(){
            //ajax
            $.ajax({
                url: '/about_us/contact_post',
                type: 'POST',
                dataType: 'json',
                data: $('#contactForm').serialize(),
                success: function(data){
                    if (data.code===200) {
                        prompt(data.msg, 'alert-success', 1500);
                    } else {
                        prompt(data.msg, 'alert-danger', 1500);
                    }
                }, error: function(data){
                    prompt('网络错误', 'alert-danger', 1500);
                }
            });
        });

        //title_div默认隐藏,如果选择 快乐领养，则显示title_div
        $('#title_div').hide();
        $('#type').change(function(){
            if ($(this).val()==='4'){
                $('#title_div').show();
            } else {
                $('#title_div').hide();
            }
        });
    </script>
    </body>
</html>
