<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>403 没有权限</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .notfound-container {
            height: 400px;
        }

        /* 让div上下左右 居中*/
        .notfound-reason {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    </style>
</head>
<body>

<div class="notfound-container">
    <div class="notfound-reason">
        <p style="font-size: xxx-large">没有权限访问此页面</p>
    </div>
</div>

</body>
</html>
