<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title th:text="${article.title}"></title>

	<link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" th:href="@{/fore/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/fore/css/animate.min.css}">
	<link rel="stylesheet" th:href="@{/fore/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/fore/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/fore/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/fore/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/fore/css/flaticon.css}">
	<link rel="stylesheet" th:href="@{/fore/css/odometer.css}">
	<link rel="stylesheet" th:href="@{/fore/css/jquery-ui.css}">
	<link rel="stylesheet" th:href="@{/fore/css/slick.css}">
	<link rel="stylesheet" th:href="@{/fore/css/default.css}">
	<link rel="stylesheet" th:href="@{/fore/css/style.css}">
	<link rel="stylesheet" th:href="@{/fore/css/responsive.css}">

</head>
<body>

<!-- Preloader -->
<div th:replace="~{../templates/forestage/commons::commonPreloader}"></div>
<!-- Preloader-end -->

<!-- Scroll-top -->
<button th:replace="~{../templates/forestage/commons::commonScrollTop}"></button>
<!-- Scroll-top-end-->

<!-- header-area -->
<header th:replace="~{../templates/forestage/commons::commonHeader('')}"></header>
<!-- header-area-end -->

<main>

	<!-- article-details-area -->
	<section class="blog-details-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="standard-blog-item mb-50">
						<div class="standard-blog-content blog-details-content">
							<div class="blog-post-meta">
								<ul>
									<li class="tags"><i class="flaticon-bookmark-1"></i>
										<a href="#" th:text="${article.type==0?'新闻':(article.type==1?'活动':'文章')}"></a>
									</li>
									<li><i class="far fa-user"></i><a href="#" th:text="${article.author}"></a></li>
									<li><i class="far fa-bell"></i> <span th:text="${article.createTime}"></span></li>
								</ul>
							</div>
							<h4 class="title" th:text="${article.title}"></h4>
							<div id="doc-content">
								<textarea style="display:none;" placeholder="markdown" th:text="${article.content}"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12" style="margin-top: 20px">
					<button class="btn" onclick="window.history.back()">返回</button>
				</div>
			</div>
		</div>
	</section>
	<!-- article-details-area-end -->
</main>
<!-- footer-start -->
<footer th:replace="~{../templates/forestage/commons::commonFooter}"></footer>
<!-- footer-end -->


</body>


<link rel="stylesheet" th:href="@{/back/editormd/css/editormd.preview.css}" />
<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/back/editormd/lib/marked.min.js}"></script>
<script th:src="@{/back/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/back/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/back/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/back/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/back/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/back/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/back/editormd/editormd.js}"></script>

<script th:src="@{/fore/js/bootstrap.min.js}"></script>
<script th:src="@{/fore/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/fore/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/fore/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/fore/js/owl.carousel.min.js}"></script>
<script th:src="@{/fore/js/jquery.odometer.min.js}"></script>
<script th:src="@{/fore/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/fore/js/jquery-ui.min.js}"></script>
<script th:src="@{/fore/js/jquery.appear.js}"></script>
<script th:src="@{/fore/js/slick.min.js}"></script>
<script th:src="@{/fore/js/wow.min.js}"></script>
<script th:src="@{/fore/js/plugins.js}"></script>
<script th:src="@{/fore/js/main.js}"></script>

<script type="text/javascript">
	var testEditor;
	$(function () {
		testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
			htmlDecode: "style,script,iframe",
			emoji: true,
			taskList: true,
			tocm: true,
			tex: true, // 默认不解析
			flowChart: true, // 默认不解析
			sequenceDiagram: true, // 默认不解析
			codeFold: true
		});});
</script>

</html>