<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
    <link rel='stylesheet' th:href='@{/fore/css/bootstrap-4.1.min.css}'>
    <link rel='stylesheet' th:href='@{/fore/css/loginstyle.css}'>
    <link rel="stylesheet" th:href="@{/fore/css/alert.css}">
</head>
<body>

<div class="main-bg">
    <div class="box-conatiner">
        <div id="a">
            <div class="circle-ripple"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="heading-left">Petco Login</h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="wrap-login100">
                        <span class="login100-form-title">
                            Sign In
                        </span>
                    <form th:action="@{/login}" method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-20">

                        <div class="wrap-input100 validate-input m-b-16"  >
                            <input class="input100" type="text" name="username" placeholder="Email" required>
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input"  >
                            <input class="input100" type="password" name="password" placeholder="Password" required>
                            <span class="focus-input100"></span>
                        </div>
                        <div class="container-login100-form-btn" style="margin-top: 50px">
                            <button class="login100-form-btn">
                                登录
                            </button>
                        </div>
                        <div class="flex-col-c p-t-140 p-b-40">
                                <span class="txt1 p-b-9">
                                    没有账户？
                                    <a th:href="@{/sign-up}" class="txt3">现在注册</a>
                                </span>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>

<script type="text/javascript">
    //提示框
    function prompt(message, style, time) {
        style = (style === undefined) ? 'alert-success' : style;
        time = (time === undefined) ? 1500 : time;
        $('<div></div>')
            .appendTo('body')
            .addClass('alert ' + style)
            .html(message)
            .show()
            .delay(time)
            .fadeOut();
    }

    $(document).ready(function() {
        const msg = '[[${msg}]]';
        if (msg !== "") {
            prompt(msg, 'alert-warning');
        }
    });
</script>
</body>
</html>
