<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>edit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fore/img/favicon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/fore/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/fore/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/fore/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/fore/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/fore/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/fore/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/fore/css/slick.css}">
    <link rel="stylesheet" th:href="@{/fore/css/default.css}">
    <link rel="stylesheet" th:href="@{/fore/css/style.css}">
    <link rel="stylesheet" th:href="@{/fore/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/fore/css/alert.css}">

</head>
<body>

<!-- Preloader -->
<div th:replace="~{../templates/forestage/commons::commonPreloader}"></div>
<!-- Preloader-end -->

<!-- Scroll-top -->
<button th:replace="~{../templates/forestage/commons::commonScrollTop}"></button>
<!-- Scroll-top-end-->


<!-- main-area -->
<main>

    <section class="contact-area pt-110 pb-110">
        <div class="container">
            <div class="container-inner-wrap">
                <div class="row justify-content-center justify-content-lg-between">
                    <div class="col-lg-8 col-md-8 order-2 order-lg-0">
                        <div class="contact-title mb-20">
<!--                            <h6><button class="btn  btn-info" id="back">返回</button></h6>-->

                            <!--                            <h5 class="sub-title">欢迎注册</h5>-->
                            <h2 class="title">修改密码<span>.</span></h2>
                        </div>
                        <div class="contact-wrap-content">
                            <form  id="editForm" class="contact-form">
                                <div class="form-grp">
                                    <label for="oldPwd">原密码 <span>*</span></label>
                                    <input type="password" name="oldPwd" id="oldPwd" >
                                </div>
                                <div class="form-grp">
                                    <label for="newPwd">新密码 <span>*</span></label>
                                    <input type="password" name="newPwd" id="newPwd" >
                                </div>
                                <div class="form-grp">
                                    <label for="confirmPwd">确认密码 <span>*</span></label>
                                    <input type="password" name="confirmPwd" id="confirmPwd">
                                </div>

                                <button type="button" id="edit_btn" class="btn  rounded-btn">提交</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</main>
<!-- main-area-end -->



<!-- JS here -->
<script th:src="@{/fore/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/fore/js/bootstrap.min.js}"></script>
<script th:src="@{/fore/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/fore/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/fore/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/fore/js/owl.carousel.min.js}"></script>
<script th:src="@{/fore/js/jquery.odometer.min.js}"></script>
<script th:src="@{/fore/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/fore/js/jquery-ui.min.js}"></script>
<script th:src="@{/fore/js/jquery.appear.js}"></script>
<script th:src="@{/fore/js/slick.min.js}"></script>
<script th:src="@{/fore/js/wow.min.js}"></script>
<script th:src="@{/fore/js/plugins.js}"></script>
<script th:src="@{/fore/js/main.js}"></script>

<script type="text/javascript">
    $(function () {
        $("#edit_btn").click(function () {
            const oldPwd = $("#oldPwd").val();
            const newPwd = $("#newPwd").val();
            const confirmPwd = $("#confirmPwd").val();
            if(oldPwd === ''){
                prompt("原密码不能为空","alert-warning");
                return;
            }
            if(newPwd === ''){
                prompt("新密码不能为空","alert-warning");
                return;
            }
            if(confirmPwd === ''){
                prompt("确认密码不能为空","alert-warning");
                return;
            }
            if(newPwd !== confirmPwd){
                prompt("两次密码不一致","alert-warning");
                return;
            }
            $.ajax({
                url: "/fore/editPwd",
                type: "post",
                data: {
                    oldPwd:oldPwd,
                    newPwd:newPwd,
                    confirmPwd:confirmPwd
                },
                dataType: "json",
                success: function (data) {
                    if(data.code === 200){
                        prompt(data.msg,"alert-success");
                        //clear
                        $("#oldPwd").val("");
                        $("#newPwd").val("");
                        $("#confirmPwd").val("");
                    }else{
                        prompt(data.msg,"alert-warning");
                    }
                },
                error: function (data) {
                    prompt("网络错误","alert-danger");
                }
            });
        });
    });


    //提示框
    function prompt(message, style, time) {
        style = (style === undefined) ? 'alert-success' : style;
        time = (time === undefined) ? 1500 : time;
        $('<div></div>')
            .appendTo('body')
            .addClass('alert ' + style)
            .html(message)
            .show()
            .delay(time)
            .fadeOut();
    }



</script>
</body>
</html>
