<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" th:href="@{/back/css/page.css}" />
    <link th:href="@{/back/plugins/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/back/plugins/css/icons.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page" id="app">
    <div class="nav-left" v-show="navLeftFlag" ref="navLeft">
        <div class="LogoName">
            <a th:href="@{/}">主页</a>
        </div>
        <div class="navDiv">
            <div class="navName">导航</div>
            <!--					nav-list begin-->
            <div class="nav-list">
                <ul id="menu-ul">
                    <li class="nav-tab nav-ul">
                        <a th:href="@{/fore/personal_info}" class="li-a" target="iframe">
                            <i class="bx bx-layer"></i>
                            <span>个人资料</span>
                        </a>
                    </li>
                    <li class="nav-tab nav-ul">
                        <a th:href="@{/fore/apply_list}" class="li-a" target="iframe">
                            <i class="bx bx-layer"></i>
                            <span>领养列表</span>
                        </a>
                    </li>
<!--                    edit password-->
                    <li class="nav-tab nav-ul">
                        <a th:href="@{/fore/editPwd}" class="li-a" target="iframe">
                            <i class="bx bx-layer"></i>
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--					nav-list end-->
        </div>
    </div>

    <div class="nav-right" ref="navRight">
        <div class="nav-top">
            <button type="button" class="btn btn-primary btn-sm hiddenBtn" style="line-height: 10px;" @click="isShowLeft">
                <i class="bx bx-grid-alt" style="font-size: 16px;"></i>
            </button>
            <a style="float: right" th:href="@{/admin/logout}">Sign Out</a>
        </div>
        <div class="content-page" ref="cPage">
            <iframe name="iframe" width="100%" height="100%" frameborder="0" th:src="@{/fore/personal_info}"></iframe>
        </div>
    </div>
</div>

<script th:src="@{/back/js/vue.min.js}"></script>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>


<script type="text/javascript">
    $(function() {
        var navflag = false;
        $('.nav-tab').click(function() {
            $(this).siblings().each(function() {
                $(this).removeClass('a_active');
                $(this).find('.nav-box').css('height', '0')
                //关闭右侧箭头
                if ($(this).attr('class').indexOf('nav-ul') !== -1) {
                    $(this).find('.bx-chevron-right').css('transform', 'rotateZ(0deg)')
                    $(this).find('.bx-chevron-right').css('transition', 'all .5s')
                    $(this).removeClass('nav-show')
                }
            })
            //当前选中
            $(this).addClass('a_active')
            $(this).find('.li-a').addClass('active')
            // 打开右侧箭头
            $(this).find('.bx-chevron-right').css('transform', 'rotateZ(90deg)')
            $(this).find('.bx-chevron-right').css('transition', 'all .5s')
            $(this).addClass('nav-show')
            // $(this).find('div').addClass('nav-box')
        })
        /* 二级菜单a点击事件 */
        $(".li-a-a").click(function() {
            $(".li-a-a").each(function() {
                $(this).removeClass('active-li-a');
            })
            $(this).addClass('active-li-a');
        })
    })

    const vue = new Vue({
        el: '#app',
        data: {
            navLeftFlag: true
        },
        methods: {
            isShowLeft() {
                if (this.navLeftFlag ) {
                    this.$refs.navRight.style.paddingLeft = '0px'
                    this.$refs.cPage.style.left = '0px';
                    this.navLeftFlag = false;
                } else {
                    this.$refs.navRight.style.paddingLeft = '240px';
                    this.$refs.cPage.style.left = '240px';
                    this.navLeftFlag = true;
                }
            }
        }
    })
</script>
</body>
</html>
