<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>Petco Admin</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link th:href="@{/back/Nav/css/page.css}" rel="stylesheet" type="text/css"  />
		<link th:href="@{/back/Nav/plugins/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/back/Nav/plugins/css/icons.min.css}" rel="stylesheet" type="text/css" />
		<style>
			#adminName {
			/*	加粗*/
				font-weight: bold;
				margin-left: 2%;
				color: #ff4b36;
			}
		</style>
	</head>
	<body>
		<div class="page" id="app">
			<div class="nav-left" v-show="navLeftFlag" ref="navLeft">
				<div class="LogoName">
					Petco Admin
				</div>
				<div class="navDiv">
					<div class="navName">导航</div>
					<div class="nav-list">
						<ul id="menu-ul">
						</ul>
					</div>
				</div>
			</div>

			<div class="nav-right" ref="navRight">
				<div class="nav-top">
					<button type="button" class="btn btn-primary btn-sm hiddenBtn" style="line-height: 10px;" @click="isShowLeft">
						<i class="bx bx-grid-alt" style="font-size: 16px;"></i>
					</button>
					<a style="float: right" th:href="@{/admin/logout}">Sign Out</a>
					<span id="adminName" th:text="${admin.name}"></span>
				</div>
				<div class="content-page" ref="cPage">
					<iframe name="iframe" width="100%" height="100%" frameborder="0" th:src="@{/admin/dashboard}"></iframe>
				</div>
			</div>
		</div>

		<script th:src="@{/back/Nav/js/vue.min.js}"></script>
		<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

		<script type="text/javascript">
			//初始化菜单
			$.ajax({
				url: '/admin/listMenu',
				type: 'GET',
				success: function (data) {
					console.log(data);
					if (data.code === 200) {
						//for循环初始化菜单
						let str = '';
						$.each(data.result, function (i, item) {
							item.childMenu = item.childMenu.length > 0 ? item.childMenu : [];
							if (item.childMenu.length !== 0) {
								str += '<li class="nav-tab nav-ul">';
								str += '<a href="javascript:void[0]" class="li-a" target="iframe">';
								str += '<i class="' + item.icon + '"></i>';
								str += item.name;
								str += '<i class="bx bx-chevron-right" style="float: right;"></i>'
								str += '</a>';

								str += '<div class="nav-box">';
								$.each(item.childMenu, function (j, item2) {
									str += '<a href="'+item2.url+'" class="li-a-a" target="iframe">'+item2.name+'</a>';
								})
								str += '</div>';
								str += '</li>';
							} else {
								str += '<li class="nav-tab">';
								str += '<a href="'+item.url+'" class="li-a" target="iframe">';
								str += '<i class="' + item.icon + '"></i>';
								str += item.name;
								str += '</a>';
								str += '</li>';
							}
						});
						// $("#menu-ul").html(str);
						$("#menu-ul").append(str);

					}
				},
				error: function () {
				}
			});
		</script>

		<script type="text/javascript">
			$(function() {
				let navflag = false;
				$('.nav-tab').click(function() {
					$(this).siblings().each(function() {
						$(this).removeClass('a_active');
						// $(this).removeClass('a_active');
						$(this).find('.nav-box').css('height', '0')
						//关闭右侧箭头
						if ($(this).attr('class').indexOf('nav-ul') != -1) {
							$(this).find('.bx-chevron-right').css('transform', 'rotateZ(0deg)')
							$(this).find('.bx-chevron-right').css('transition', 'all .5s')
							$(this).removeClass('nav-show')
							// $(this).find('div').removeClass('nav-box')
						}
					})
					//当前选中
					$(this).addClass('a_active')
					$(this).find('.li-a').addClass('active')
					// 打开右侧箭头
					$(this).find('.bx-chevron-right').css('transform', 'rotateZ(90deg)')
					$(this).find('.bx-chevron-right').css('transition', 'all .5s')
					$(this).addClass('nav-show')
					// $(this).find('div').addClass('nav-box')
				})
				/* 二级菜单a点击事件 */
				$(".li-a-a").click(function() {
					$(".li-a-a").each(function() {
						$(this).removeClass('active-li-a');
					})
					$(this).addClass('active-li-a');
				})

			})
			const vue = new Vue({
				el: '#app',
				data: {
					navLeftFlag: true
				},
				methods: {
					isShowLeft() {
						if (this.navLeftFlag ) {
							this.$refs.navRight.style.paddingLeft = '0px'
							this.$refs.cPage.style.left = '0px';
							this.navLeftFlag = false;
							// this.$refs.navLeft.style.width = '0px';
							// setTimeout(()=>{
							// 	this.navLeftFlag = false;
							// },200)
						} else {
							this.$refs.navRight.style.paddingLeft = '240px';
							this.$refs.cPage.style.left = '240px';
							this.navLeftFlag = true;
							// this.$refs.navLeft.style.width = '240px';
							// setTimeout(()=>{
							// 	this.navLeftFlag = true;
							// },200)
						}
					}
				}
			})
		</script>
	</body>
</html>
